{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post/post_details.css' %}">
{% endblock %}


{% block main_content %}
<h1>Posts in category: {{ category.name }}</h1>

{% for post in posts %}
<div>
	<h2>{{ post.title }}</h2>
	<p>{{ post.content|truncatewords:30 }}</p>
	<p>Author: {{ post.author }}</p>
	<p>Created: {{ post.created_at }}</p>
	<a href="{% url 'post_by_slug' post.slug %}">Read more</a>
</div>
{% empty %}
<p>No posts in this category yet.</p>
{% endfor %}
{% endblock %}
