{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/category/home.css' %}">
{% endblock %}

{% block main_content %}

<h1 class="heading">All Categories</h1>

<div class="category-list">
  {% for category in categories %}
    <div class="category-card">
      <a href="{% url 'category_by_slug' category.slug %}" class="category-link">
        {{ category.name }}
      </a>
    </div>
  {% empty %}
    <p>No categories found.</p>
  {% endfor %}
</div>

{% endblock %}
