{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/post/home.css' %}">
{% endblock %}

{% block main_content %}
  
  <div class="post-list">
    {% for post in posts %}
      <div class="post-card">
	<h2 class="text-3xl ">{{ post.title }}</h2>
	<p class="text-gray-400 text-xs">
	  By {{ post.author }} | {{ post.created_at|date:"F d, Y" }} | Category: {{ post.category.name }}
	</p>
	<div class="post-content">
	  {{ post.content|truncatewords:30 }}
	  <a href="{% url 'post_by_slug' post.slug %}" class="read-more">Read more →</a>
	</div>
      </div>
    {% empty %}
      <p>No posts found.</p>
    {% endfor %}
  </div>

{% endblock %}

