{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post/post_details.css' %}">
{% endblock %}


{% block main_content %}
<div class="post-container">

	<h1 class="post-title">{{ post.title }}</h1>

	<div class="post-meta">
		<span class="author">By: {{ post.author }}</span> |
		<span class="date">Published: {{ post.created_at|date:"F d, Y" }}</span> |
		<span class="category">
			Category:
			<a href="{% url 'category_by_slug' post.category.slug %}">
				{{ post.category.name }}
			</a>
		</span>
	</div>

	<div class="post-content">
		<p>{{ post.content }}</p>
	</div>

</div>
<div>
	<form action="something" method="post">
		{{ form.as_p }}
		<button type="submit">Comment</button>
	</form>
</div>
{% endblock %}
